<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Not used. May be used in the future? -->
    <add key="AutoSaveInterval" value="60"/>
    <add key="RecordSaveMethod" value="0"/>
    <add key="DBServer" value=""/>
    <add key="DBName" value=""/>
    <add key="DBUsername" value=""/>
    <add key="DBPassword" value=""/>
    <add key="DBUseWindowsAuth" value="False"/>
    <add key="WebProxyEnabled" value="True"/>
    <add key="WebPageProxyIPBind" value="localhost"/>
    <add key="WebPageProxyPort" value="9999"/>
  </appSettings>
</configuration>